#user-management-table {
  .ant-table-thead th {
    background-color: #262e89;
    color: white;
    padding: 10px 16px;
  }
  .ant-table-thead th.ant-table-cell:before {
    background-color: transparent;
  }
  .ant-table-tbody tr {
    color: #3b5571;
  }
  .ant-table-tbody tr:nth-child(even) {
    background-color: #f3f8ff;
  }
  .status-tag {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
  }

  .status-tag {
    padding: 8px 16px;
    border-radius: 20px;
  }

  .status-tag.active {
    background-color: #28a745;
    color: white;
  }

  .status-tag.inactive {
    background-color: #8b969f;
    color: white;
  }
}
